@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@font-face {
    font-family: 'Enchanted Land';
    src: url('../fontes/Enchanted Land.otf');
}

:root {
    --cor0: #7ea16b;
    --cor1: #658653;
    --cor2: #3c5233;
    --cor3: #264027;
    --cor4: #152516;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Enchanted Land', 'Times New Roman', Times, serif;
    --fonte-destaque2: 'MedievalSharp';
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor4);
    font-family: var(--fonte-padrao);
}

header {
    min-height: 150px;

    padding-top: 40px;

    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));

    text-align: center;
}

header > h1 {
    padding-bottom: 20px;
    
    font: normal 4em var(--fonte-destaque);

    color: white
}

header > p {
    max-width: 600px;
    margin: auto;
    
    padding: 0px 10px 30px 10px;
    
    font: 1.2em var(--fonte-destaque2);

    color: white;
}

nav {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.315); 
    
    padding: 10px;

    background-color: var(--cor3);

    text-align: center;
}

nav > a {
    padding: 5px;
    
    font: bold 1.5em var(--fonte-destaque);

    color: var(--cor0);
    text-decoration: none;

    transition: 0.4s;
}

nav > a:hover {
    padding: 10px;
    border-radius: 5px;

    background-color: var(--cor0);

    color: var(--cor3);
}

/*Nessa class, usamos para centralizar as cartas de navegação*/
.centro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.centro a {
    color: var(--cor3);
}

span {
    display: inline-block;

    border-radius: 10px;

    background-color: var(--cor1);

    transition: transform 0.4s ease;
}


span.cartas5 {
    height: 340px;
    width: 255px;
    
    padding-top: 30px;
    margin-top: 40px;
}

span.cartas5:hover {
    display: inline-block;

    padding: 30px 5px 5px 5px;
    border-radius: 10px;

    background-color: var(--cor0);
    color: var(--cor3); 

    transform: scale(1.1);
}

span.cartas5 > h2 {
    font: bold 2em var(--fonte-destaque2);

    text-align: center;
}

span.cartas6 {
    width: 225px;
    height: 300px;

    padding-top: 30px;
    margin-top: 40px;

    transition: transform 0.4s ease;
}

span.cartas6:hover {
    display: inline-block;

    padding: 30px 5px 5px 5px;
    border-radius: 10px;

    background-color: var(--cor0);
    
    color: var(--cor3);

    transform: scale(1.1);
}

span.cartas6 > h2 {
    font: bold 1.5em var(--fonte-destaque2);

    text-align: center;
}


footer {
    background-color: var(--cor4);

    font: 0.8em var(--fonte-padrao);

    text-align: center;
    color: white;
}

footer.cartas5 {
    padding-top: 80px;
}

footer.cartas6 {
    padding-top: 120px;
}