@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

@font-face {
    font-family: 'Enchanted Land';
    src: url('../fontes/Enchanted Land.otf');
}

:root {
    --corB1: white;
    
    --corY1: #f8dc8d;
    --corY2: #F4D06F;
    --corY3: #F29F05;

    --corR1: #f17468;
    --corR2: #F2594B;
    --corR3: #D92818;
    --corR4: #902218;
    --corR5: #62150e;

    --fonte-padrao: 'Metamorphous', Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Enchanted Land', 'Times New Roman', Times, serif;
    --fonte-destaque2: 'MedievalSharp';
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--corR5);
    font-family: var(--fonte-padrao);
}

header {
    min-height: 150px;

    padding-top: 40px;

    background-image: linear-gradient(to bottom, var(--corR2), var(--corR4));

    text-align: center;
}

header > h1 {
    font: normal 4em var(--fonte-destaque);

    color: var(--corY3);
}

header > p {
    max-width: 600px;
    margin: auto;

    padding: 20px 10px 30px 10px;

    font: normal 1.2em var(--fonte-destaque2);

    color: var(--corY3);
}

nav {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    
    padding: 10px;
    
    background-color: var(--corR4);
    
    text-align: center;
}

nav > a {
    padding: 5px;

    font: bold 1.5em var(--fonte-destaque);

    color: var(--corR1);
    text-decoration: none;

    transition: 0.4s;
}

nav > a:hover {
    padding: 10px;
    border-radius: 5px;
    
    background-color: var(--corR2);
    
    color: var(--corR4);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 30px;

    background-color: var(--corY1);
}

main h1 {
    font: 3em var(--fonte-destaque);
    
    text-align: center;
    color: var(--corY3);
}

main h2 {
    margin-top: 20px;
    
    font: 2.5em var(--fonte-destaque);
    
    text-align: center;
    color: var(--corY3);
}

main h3 {
    padding-left: 100px;
    margin-top: 20px;

    font: 2em var(--fonte-destaque);

    color: var(--corY2);
}

main p {
    margin-top: 20px;

    font-size: 1em;

    text-indent: 30px;
    text-align: justify;
}

ul, ol {
    list-style-position: inside;
}

main li {
    padding-top: 10px;
    text-indent: 50px;
}

img#marca_sol {
    display: block;
    width: 400px;
    min-width: 200px;
    height: 400px;
    min-height: 200px;
    margin: auto;

    margin-top: 20px;
}

footer {
    padding: 10px 0px;
    
    background-color: var(--corR4);

    font: 0.8em var(--fonte-padrao);

    text-align: center;
    color: var(--corY1);
}

div.indice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;

    padding: 10px 0px 15px 0px;
    border-radius: 10px;
    margin-top: 30px;

    background-image: linear-gradient(to bottom, var(--corR2), var(--corR4));
}

div.indice h3 {
    padding-left: 0px;
    margin: 10px 0px;
}

div.indice ol > li {
    padding: 0px 10px 0px 15px;

    color: var(--corY2);
}

div.indice ul > li {
    padding: 0px 10px 0px 45px;

    color: var(--corY3);
}

div.indice ol > li:hover {
    text-decoration: underline;
    color: var(--corY1);
}

div.indice ul > li:hover {
    text-decoration: underline;
    color: var(--corY2);
}