@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

@font-face {
    font-family: 'Enchanted Land';
    src: url('../fontes/Enchanted Land.otf');
}

:root {
    --corB1: #EEEEEE;

    --corGr1: #c7dcf2;
    --corGr2: #BACBD9;
    --corGr3: #8394a0;
    --corGr4: #6c8093;

    --fonte-padrao: 'Metamorphous', Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Enchanted Land', 'Times New Roman', Times, serif;
    --fonte-destaque2: 'MedievalSharp';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--corGr4);

    font-family: var(--fonte-padrao);
}

header {
    min-height: 150px;

    padding-top: 40px;

    background-image: linear-gradient(to bottom, var(--corGr1), var(--corGr3));

    text-align: center;
}

header > h1 {
    font: normal 4em var(--fonte-destaque);

    color: var(--corB1);
}

header > p {
    max-width: 600px;
    margin: auto;
    
    padding: 20px 10px 30px 10px;

    font: 1.2em var(--fonte-destaque2);

    color: var(--corB1);
}

nav {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);

    padding: 10px;

    background-color: var(--corGr3);

    text-align: center;
}

nav > a {
    padding: 5px;

    font: bold 1.5em var(--fonte-destaque);

    text-decoration: none;
    color: var(--corGr1);

    transition: 0.4s;
}

nav > a:hover {
    padding: 10px;
    border-radius: 5px;

    background-color: var(--corGr1);

    color: var(--corGr3);
}


main {
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    margin: auto;
    
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;

    background-color: var(--corB1);
}

main h1 {
    font: 3em var(--fonte-destaque);
    
    text-align: center;
    color: var(--corGr3);
}

main h2 {
    margin-top: 20px;

    font: 2.5em var(--fonte-destaque);

    text-align: center;
    color: var(--corGr2);
}

main h3 {
    padding-left: 100px;
    margin-top: 20px;

    font: 2em var(--fonte-destaque);
    
    text-align: center;
    color: var(--corGr3);
}

main p {
    margin-top: 20px;

    font-size: 1em;

    text-indent: 30px;
    text-align: justify;
}

footer {
    padding: 10px 0px;

    background-color: var(--corGr3);
    
    font: 0.8em var(--fonte-padrao);

    text-align: center;
    color: var(--corB1);
}

div.indice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.393);
    
    padding-bottom: 10px;
    margin-top: 30px;
    border-radius: 10px;

    background-image: linear-gradient(to bottom, var(--corGr1), var(--corGr3));
}

div.indice h3 {
    padding-left: 0px;
    margin: 10px 0px;

    color: var(--corGr4);
}

div.indice ol {
    list-style-position: inside;
}

div.indice ol > li{
    padding: 0px 10px 0px 15px;

    color: var(--corGr2);
}

div.indice ul > li {
    padding: 0px 10px 0px 45px;

    color: var(--corGr1);
}

div.indice li:hover {
    text-decoration: underline;
    color: var(--corGr1);
}